* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back-img {
  width: 100%;
  height: 400px;
  background-image: url(../0_GN6C6Hbqe3m2LEgG.jpg);
}

.back-img h2 {
  padding-top: 200px;
  text-align: center;
  font-size: 3rem;
  color: white;
}